.no{
    text-align: center;
    font-size: 10em;
}

.no1{
    text-align: center;
    font-size: 10em;
    padding-top: 0.1em;
}

.link{
    text-align: center;
}

#spinner {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transform-style: preserve-3d;
    text-align:center;
}
@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

input#zip {
    width: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}

.box{
    width: 400px;
    padding: 20px 50px;
    border: solid;
    border-color: black;
    margin: 30px auto;
}